Aula 4/novos.csv
Aula 4/Apostila - Aula 4.pdf
Aula 4/advertising.csv
Aula 2/telecom_users.csv
Aula 3/Produtos.xlsx
Aula 3/Apostila Intensivão de Python - Aula 3.pdf
Aula 2/Apostila - Aula 2.pdf
Anotações.docx
Aula 1/Apostila.pdf
